:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
}

html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

main.photos {
  padding: 10px;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
  margin:100px;
}

main.photos img{
  width:250px;
  height:250px;
  margin-bottom:40px;
}

main.cart-page {
  padding: 10px;
}

.cart-page > h1 {
  text-align: center;
  letter-spacing: 2px;
  padding:20px;
  margin-left:8px;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
  margin-right:50px;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  margin-left:50px;
  margin-right:50px;
}

.cart-item img {
  margin-right: auto;  
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}


.cart {
  color: var(--blue);
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(185, 185, 185);
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

header h2{
  margin-left:10px;
  letter-spacing:2px;
}

.fa-shopping-cart{
  color:white;
  font-size:1.3rem;
  margin:20px;
}

.fa-search {
  color:White !important;
  font-size:1.3rem !important;
  margin:20px !important;
}

.fa-cart-plus{
  color:white;
  font-size: 1.3rem;
  cursor: pointer;
  margin:20px;
}

.cart-btn{
  color:red;
  opacity: .7;
  margin:20px;
  background-color:transparent;
}

.cart-text{
  text-align:center;
}

.fa-heart{
  color:red;
  opacity:.7;
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.fa-plus{
  opacity:.7;
  font-size: 1.2rem;
  position: absolute;
  margin-left:-20px;
  margin-top:5px;
  cursor: pointer;
}

.fa-dollar-sign{
  color:green;
  opacity:.7;
  font-size: 1.2rem;
  position: absolute;
  margin-left:-18px;
  margin-top:5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }